/* CSS declarations go here */
body {
  font-family: source-sans-pro, sans-serif;
  font-weight: 300;
  background-color: #ecf0f1;
}

body > .container {
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  font-size: 18px;
}

.version {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
  writing-mode: lr-bt;
  position: absolute;
  right: -10px;
  bottom: 12px;
  line-height: 20px;
}

@media only screen and (max-width: 600px) {
  body > .container {
    /*font-size: 16px;*/
  }
}

@media print {    
  .action, .no-print, .no-print * {
    display: none !important;
  }
}

.container > hr {
  height: 1px;
  padding: 0px;
  margin: 0px;
}

.container.home {
  /*min-width: 450px;*/
  width: 100%;
}

.container .home {
  position: absolute;
  width: 65px;
  height: 20px;
}

.container .home:hover {
  cursor: pointer;
}

.container .home:before {
  content: "< home";
  padding-left: 5px;
  line-height: 20px;
}

.header {
  float: left;
  width: 100%;
  margin: 25px 0;
  text-align: center;
}

.header > p {
  text-align: center;
  margin-bottom: 0px;
}

.header > h1 {
  font-family: changa-one, sans-serif;
  text-align: center;
  font-size: 4em;
  margin: 0em;
}

.qualifier {
  font-size: 3px;
}

.create {
  padding: 25px 0;
  float: left;
  width: 100%;
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  background-color: #2c3e50;
}

.create > .inner {
  font-size: 1.2em;
  padding: 10px 20px;
  border: 1px solid #e74c3c;
  background-color: #c0392b;
  color: white;
  width: 100%;
  max-width: 120px;
  height: 100%;
  line-height: 30px;
  text-align: center;
  margin: 0 auto;
}

.create > .inner:hover {
  background-color: #e74c3c;
  cursor: pointer;
}

.features {
  padding: 25px 0;
  float: left;
}

.features > .title {
  width: 100%;
  float: left;
  font-size: 2em;
  margin-bottom: 15px;
  text-align: center;
}

.feature {
  float: left;
  width: 33%;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .feature {
    width: 100%;
  }
}

.feature i {
  color: #CCC;
}

.feature .inner {
  padding: 10px 10px;
  /*border: solid #CCC 1px;*/
}

.feature .title,
.feature .description {
  width: 100%;
}

.feature .title {
  font-size: 1.2em;
}

.feature .description {
  margin-top: 8px;
  font-size: 0.8em
}

.yarns, .top {
  float: left;
  width: 100%;
  margin: 25px 0;
  padding-left: 0px;
}

ul.yarns {
  list-style: none;
}

.yarn-form .field {
  width: auto;
  margin-left: 70px;    
  height: 25px;
}

.yarn-form {
  float: left;
  width: 60%;  
}

@media only screen and (max-width: 600px) {
  .yarn-form {
    width: 100%;
  }
}

.top > .title {
  float: left;
  width: 40%;
  display: inherit;
  text-align: center;

}

@media only screen and (max-width: 600px) {
  .top .title {
    width: 100%;
  }
}

.title .one {
  font-size: 1em;
}

.title .two {
  font-family: changa-one, sans-serif;
  font-size: 4em;
  line-height: 1em;
}

input, textarea {
  width: 85%;
  background: #fff;
  box-shadow: 0px 0px 3px #ccc;
  border: 1px solid #aaa;
  border-radius: 2px;
  height: 25px;
  width: 100%;
  padding: 0 8px;
}

textarea {
  height: 40px;
}

hr {
  float: left;
  clear: both;
  width: 100%;
  border: none;
  border-bottom: 1px solid #CCC;
  height: 1px;
}

.remove,
.save {
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
  height: 20px;
  color: #CCC;
  font-family: arial;
  text-align: right;
  margin-right: 3px;
  overflow: hidden;
  text-overflow: ellipsis;

/*  transition-property: width;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.1, 0.2, 0.3, 0.8);*/
}

.remove:hover {
  color: red;
  /*color: white;*/
  cursor: pointer;
}

.remove:before {
  content: "X";
  /*padding-left: 5px;*/
  text-align: right;
  line-height: 20px;
  font-size: 0.9em;
}

.remove.ready {
  color: red;
  /*color: white;*/
  width: 80px;
}

.remove.ready:before {
  content: "Really? X";
}

.save {
  top: 20px;
  display: none;
}

.save:hover {
  color: green;
  /*color: white;*/
  cursor: pointer;
}

.save:before {
  content: "✓";
  /*padding-left: 5px;*/
  text-align: right;
  line-height: 20px;
  font-size: 0.9em;
}

.yarn-form > div {
  margin-bottom: 20px;
}

.yarn > div {
  margin-bottom: 8px;
}

.yarn > div:last-of-type {
  margin-bottom: 0px;
}

.yarn {
  text-align: center;
  border: 1px solid #CCC;
  padding: 10px;
  position: relative;
  text-align: left;
  box-shadow: 0px 0px 3px #ccc;
  border: 1px solid #aaa;
  background-color: #fff;
  border-radius: 2px;
}

.sortable-placeholder {
  border: 1px dashed #CCC;
  background: none;
  height: 115px;
}

.yarn,
.sortable-placeholder {
  margin-bottom: 10px;
}

.yarn > span.handle {
  position: absolute;
  left: 0em;
  top: 0em;
  width: 20px;
  height: 20px;
  padding-left: 4px;
  line-height: 20px;
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  color: #CCC;
}

.yarn > span.handle:hover {
  cursor: move;
  color: #3C3C3C;
}

.yarn .text {
  vertical-align: middle;
  padding-top: 2px;
  margin-left: 68px;
  margin-right: 10px;
}

.yarn-form .label,
.yarn .label {
  width: 60px;
  float: left;
  height: 25px;
  text-align: right;
}

.yarn-form .field {
  margin-right: 18px;
}

@media only screen and (max-width: 600px) {
  .yarn-form .label {
    text-align: left;
  }

  .yarn-form .field {
    margin-left: 0px;
    padding-bottom: 8px;
  }

  .yarn-form .field,
  .yarn-form .label {
    width: inherit;
  }
}

.who > .label,
.what > .label,
.why > .label {
  vertical-align: middle;
  line-height: 30px;
  margin-right: 8px;
}

.who > div.label:before {
  content: "As ";
  color: red;
}

.what > div.label:before {
  content: "I want ";
  color: green;
}

.why > div.label:before {
  content: "so that ";
  color: blue;
}