@import "compass/layout/sticky-footer";
@import "compass/css3/border-radius";
@import "compass/css3/user-interface";
@import "compass/css3/transition";

/*** Some Variables ***/

$color-picker-1: #1abc9c;
$color-picker-2: #f1c40f;
$color-picker-3: #e74c3c;
$color-picker-4: #bdc3c7;

$color-bg: #ECF0F1;
$color-gray: #7F8C8D;
$color-light-gray: #AAA;
$color-link: #2C3E50;
$color-warn: #C0392B;
$color-notice: #27ae60;
$color-who: #c0392b;
$color-what: #27ae60;
$color-why: #2980b9;
$color-note: #ecf0f1;
$color-note-highlight: #f1c40f;

$standard-spacing: 8px;
$standard-border-radius: 5px;

$yarn-padding: 10px;
$yarn-field-height: 25px;
$yarn-selected-color: $color-link;
$action-padding: 2px;
$action-width: 15px;

$color-picker-height: $action-width;
$color-picker-width: $action-width;
$color-picker-height-large: $action-width*1.5;
$color-picker-width-large: $action-width*1.5;
$color-picker-offset: 5px;
$color-picker-left: 0px;
$box-size: 0px;
$box-border-size: 1px;

/*** Some Mixins ***/

@mixin standard-border($box-color: $color-light-gray, $box-size: 0px, $border-size: 1px) {
  box-shadow: 0px 0px $box-size lighten($box-color, 10%);
  border: $border-size solid lighten($box-color, 20%);
}

/*** App Styles ***/

/* Standard Stuff */

@include sticky-footer(10px);

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: source-sans-pro, sans-serif;
  font-weight: 300;
  background-color: #ecf0f1;
}


input {
  @include standard-border();

  width: 85%;
  background: rgba(#fff, 0.8);
  height: 25px;
  width: 100%;
  padding: 0 $standard-spacing;
  font-family: source-sans-pro, sans-serif;
  font-weight: 300;
}

textarea {
  @include standard-border();

  width: 85%;
  background: #fff;
  height: 25px;
  width: 100%;
  padding: 0 $standard-spacing;
  height: 40px;
}

hr {
  float: left;
  width: 100%;
  border: none;
  border-bottom: 1px solid $color-gray;
  height: 1px;
}

@media print {
  .action {
    display: none !important;
  }
  .no-print {
    display: none !important;
    * {
      display: none !important;
    }
  }
}

/* Home Page Stuff */

#root {
  > .container {
    max-width: 760px;
    margin: 0 auto;
    padding: 10px;

    @media only screen and (max-width: 600px) {
      // padding: 0px;
    }

    > hr {
      height: 1px;
      padding: 0px;
      margin: 0px;
    }

    &.home {
      padding: 0px;
      margin: none;
      width: 100%;
    }
  }
}

#footer {
  .version {
    position: absolute;
    color: #ccc;
    font-size: 0.5em;
    right: 2px;
    bottom: 1px;
    overflow: hidden;
  }
}

.header {
  float: left;
  width: 100%;
  margin: 25px 0;
  text-align: center;
  > {
    p {
      text-align: center;
      margin-bottom: 0px;
    }
    h1 {
      font-family: changa-one, sans-serif;
      text-align: center;
      font-size: 4em;
      margin: 0em;
    }
  }
}

a {
  text-decoration: none;
  color: #2c3e50;

  &.home {
    position: absolute;
    width: 65px;
    height: 20px;

    &:hover {
      cursor: pointer;
    }

    &:before {
      content: "< home";
      line-height: 20px;
    }
  }
}

.qualifier {
  font-size: 3px;
}

.create {
  padding: 25px 0;
  float: left;
  width: 100%;
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  background-color: #2c3e50;

  > .inner {
    font-size: 1.2em;
    padding: 10px 20px;
    border: 1px solid #e74c3c;
    background-color: #c0392b;
    color: white;
    width: 100%;
    max-width: 120px;
    height: 100%;
    line-height: 30px;
    text-align: center;
    margin: 0 auto;
    a {
      display: block;
      color: white;
    }
    &:hover {
      background-color: #e74c3c;
      cursor: pointer;
    }
  }
}

.features {
  padding: 25px 0;
  float: left;
  > .title {
    width: 100%;
    float: left;
    font-size: 2em;
    margin-bottom: 15px;
    text-align: center;
  }
}

.feature {
  float: left;
  width: 33%;
  text-align: center;
  i {
    color: $color-light-gray;
  }
  .inner {
    padding: 10px 10px;
    /*border: solid #CCC 1px;*/
  }
  .title, .description {
    width: 100%;
  }
  .title {
    font-size: 1.2em;
  }
  .description {
    margin-top: $standard-spacing;
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 600px) {
  .feature {
    width: 100%;
  }
}

.extra {
  float: left;
  width: 100%;

  .count {
    margin: 0 auto;
    text-align: center;
    width: 90px;
    color: $color-gray;

    .number {
      font-size: 2.5em;
      border: 1px solid darken($color-gray, 10%);
      margin-bottom: $standard-spacing;
      border: 1px solid gray;
      font-family: stencil-std;
      height: 38px;
    }
  }
}

/* Yarn Stuff */

.yarns, 
.top, 
.yarns-loading {
  float: left;
  width: 100%;
  margin: 25px 0;
  padding-left: 0px;
  margin-bottom: 0px;
}

.yarns {
  margin-top: $standard-spacing;
}

.yarns-loading, .yarn {
  @include standard-border();
}

.yarns-loading {
  line-height: 30px;
  text-align: center;
  background-color: #fff;

  > div {
    padding: $standard-spacing;
  }
}

.top { 
  > .title {
    float: left;
    width: 40%;
    display: inherit;
    text-align: center;

    @media only screen and (max-width: 600px) {
      width: 100%;
    }

    .one {
      font-size: 1em;
    }
    
    .two {
      font-family: changa-one, sans-serif;
      font-size: 4em;
      line-height: 1em;
    }
  }
}

.hotkeys {
  font-size: 0.7em;
  line-height: 1.5em;
  overflow: visible;
  margin-top: $standard-spacing;
  position: relative;

  li {
    cursor: default;
    color: lighten($color-gray, 20%);
    line-height: 1.6em;
    display: inline;
    list-style-type: none;
    padding-right: 20px;
    white-space: nowrap;
    padding: 0px 8px;
    background-color: darken(#FFF, 1%);
    text-align: center;
    display: inline-block;
    margin-bottom: 2px;

    &:hover {
      color: darken($color-gray, 20%);

      &:before {
        color: darken($color-gray, 20%);
        content: attr(yarn-hotkey-description);
        z-index: 2;
        position: absolute;
        top: -1.5em;
        left: 0px;
        right: 0px;
        height: 1.2em;
      }
    }
  }
}

.yarn {
  text-align: center;
  padding: $yarn-padding;
  position: relative;
  text-align: left;
  background-color: #fff;
  z-index: 1;

  &.hide {
    display: none;
  }

  > .main {
    margin: 10px 0;
  }

  &.selected {
    @include standard-border($yarn-selected-color, $box-size:1px);
  }

  .who, .what, .why {
    margin-bottom: $standard-spacing;

    &:last-of-type {
      margin-bottom: 0px;
    }
  }

  .note {
    @include transition-property(width);
    @include transition-duration(0.3s);
    @include transition-timing-function(ease);

    position: absolute;
    right: 0em;
    top: 0em;
    bottom: 0em;
    z-index: 1;
    overflow: hidden;
    background-color: #fff;    
    width: 0px;
    border-left: none;

    .text {
      @include standard-border();

      overflow: hidden;
      background: rgba(#fff, 0.8);
      margin: 5px;
      position: absolute;
      display: inline-block;
      top: $action-padding;
      bottom: $action-padding;
      left: $action-padding;
      right: ($action-padding + $action-width)*1.5;

      @media only screen and (max-width: 600px) {
        left: ($action-padding + $action-width)*2;
      }
    }

    &.focus {
      width: 50%;
      border-left: 1px solid lighten($color-light-gray, 20%);

      @media only screen and (max-width: 600px) {
        width: 100%;
      }
    }
  }

  .text {
    @include user-select(text);

    vertical-align: middle;
    padding-top: 2px;
    margin-left: 78px;
    margin-right: $action-width + $action-padding;
    line-height: $yarn-field-height;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -o-user-select: text;
  }

  .action {
    width: $action-width;
    height: $action-width;
    position: absolute;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: darken(#FFF, 5%);
    font-family: arial;
    text-align: center;
    z-index: 5;
    cursor: pointer;
    color: $color-gray;

    &.order {
      width: 20px;
      left: $action-padding;
      top: 0;
      display: block;
      font-size: 1em;
      font-weight: bold;
      overflow: visible;
      background-color: transparent;
      font-family: source-sans-pro, sans-serif;

      &:before {
        content: "::::";
      }

      &:hover {
        cursor: move;
        color: darken($color-gray, 25%);
      }
    }

    &.note-toggle {
      right: $action-padding;
      bottom: $action-padding;
      background-color: $color-note;

      &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        border-width: 0 6px 6px 0;
        border-style: solid;
        border-color: darken($color-note, 20%) #fff;
      }

      &.highlight {
        background-color: $color-note-highlight;

        &:before {
          border-color: darken($color-note-highlight, 20%) #fff;
        }
      }
    }

    &.remove, &.save {
      right: $action-padding;
      top: $action-padding;
      background-color: inherit;
    }

    &.remove {
      &:hover {
        color: $color-warn;
        cursor: pointer;
      }

      &:before {
        content: "X";
        line-height: $action-width;
        font-size: 0.9em;
      }

      &.ready {
        color: $color-warn;
        width: 65px;

        &:before {
          content: "Really? X";
        }
      }
    }

    &.save {
      top: $action-width + $action-padding*2;
      display: none;

      &:hover {
        color: $color-notice;
        cursor: pointer;
      }

      &:before {
        content: "✓";
        text-align: right;
        line-height: $action-width;
        font-size: 0.9em;
      }
    }
  }

  &.unsortable {
    .order {
      top: $action-padding;

      &:before {
        content: none;
      }
    }
  }
}

.color-picker {
  position: absolute;
  left: $action-padding;
  bottom: $action-padding;
  margin-bottom: 0em;
  z-index: 6;
  overflow: visible !important;

  > div {
    @include transition-property(bottom);
    @include transition-duration(0.3s);
    @include transition-timing-function(ease);

    width: $color-picker-width;
    height: $color-picker-height;
    position: absolute;
    cursor: pointer;
    left: $color-picker-left;
    margin-top: 5px;
    z-index: 1;

    &.selected {
      z-index: 2;
    }
  }

  .color1 {
    background-color: $color-picker-1;
    bottom: 0em;
  }

  .color2 {
    background-color: $color-picker-2;
    bottom: $color-picker-height + $color-picker-offset;
  }

  .color3 {
    background-color: $color-picker-3;
    bottom: $color-picker-height*2 + $color-picker-offset*2;
  }

  .color4 {
    background-color: $color-picker-4;
    bottom: $color-picker-height*3 + $color-picker-offset*3;
  }


  &.close {
    > div {
      bottom: 0em;
      height: $color-picker-height;
      opacity: 0;

      &.selected {
        opacity: 1;
      }
    }
  }
}

.yarn-filter {
  float: left;
  height: $color-picker-height-large + 4px;
  width: 100%;
  overflow: visible;
  position: relative;
  margin-top: $standard-spacing;

  .color-picker {
    height: 100%;
    left: 2px;
    position: relative;
    margin-bottom: 0em;

    > div {
      @include transition-property(left);
      @include transition-duration(0.3s);
      @include transition-timing-function(ease);

      width: $color-picker-width-large;
      height: $color-picker-height-large;
      bottom: 0em;
    }

    .color0 {
      $bg-color: #ecf0f1;
      $border-color: darken($bg-color, 15%);

      left: 0em;
      text-align: center;
      border: 1px solid $border-color;
      color: $border-color;
      background-color: $bg-color;
      width: $color-picker-width-large - 2px;
      height: $color-picker-height-large - 2px;
      opacity: 1;

      &:before {
        content: "X";
        line-height: $color-picker-width-large;
        font-size: 1.2em;
        font-family: arial;
      }
    }

    .color1 {
      left: $color-picker-height-large + $color-picker-offset;
    }

    .color2 {
      left: $color-picker-height-large*2 + $color-picker-offset*2;
    }

    .color3 {
      left: $color-picker-height-large*3 + $color-picker-offset*3;
    }

    .color4 {
      left: $color-picker-height-large*4 + $color-picker-offset*4;
    }

    &.close {
      > div {
        left: 0em;
      }

      .color0:before {
        content: "C";
      }
    }
  }
}

.sortable-placeholder {
  border: 1px dashed $color-gray;
  background: none;
  min-height: 20px + 3*$yarn-field-height + 3*$standard-spacing + 2*$yarn-padding - 2px;
}

.yarn, .sortable-placeholder {
  margin-bottom: 15px; 
}

.yarn-form, .yarn {
  .label {
    width: 70px;
    float: left;
    height: $yarn-field-height;
    text-align: right;
  }
}


.yarn-form {
  float: left;
  width: 60%;

  > div {
    margin-bottom: 20px;
    
    @media only screen and (max-width: 600px) {
      margin-bottom: 0px;
    }
  }

  @media only screen and (max-width: 600px) {
    width: 100%;
    margin-bottom: 25px;
  }

  .field {
    margin-right: 18px;
    margin-left: 78px;
    width: auto;
    position: relative;

    &:before {
      position: absolute;
      pointer-events: none;
      overflow: hidden;
      text-align: left;
      color: black;
      z-index: -1;
      margin: 1px;
      height: 25px;
      line-height: 25px;
      padding-left: 8px;

      @media only screen and (max-width: 600px) {
        width: 88%;
        margin-top: 26px;
      }
    }

    &:before, input {
      font-size: 16px;
    }
  }

  .who .field:before {
    content: attr(data-yarn-autocomplete);
  }

  .what .field:before {
    content: attr(data-yarn-autocomplete);
  }

  .why .field:before {
    content: attr(data-yarn-autocomplete);
  }
}

@media only screen and (max-width: 600px) {
  .yarn-form {
    .label {
      text-align: left;
      width: inherit;
    }
    .field {
      margin-left: 0px;
      padding-bottom: $standard-spacing;
      width: inherit;
    }
  }
}

.who, .what, .why {
  > .label {
    vertical-align: middle;
    line-height: 30px;
    margin-right: $standard-spacing;
  }

  &.focus .label {
    font-weight: bold;
  }
}

.who > div.label:before {
  content: "As ";
  color: $color-who;
}

.what > div.label:before {
  content: "I want ";
  color: $color-what;
}

.why > div.label:before {
  content: "so that ";
  color: $color-why;
}