<template name="yarn">
  <div class="yarn {{#if selected}}selected{{/if}}" data-yarn-id="{{_id}}" data-yarn-order="{{order}}">
    <span class="action handle">
      :::: {{order}}
    </span>
    <div class="action remove"></div>
    <div class="action save"></div>
    <div class="who">
      <div class="label"></div>
      <div class="text" contenteditable="true">{{who}}</div>
    </div>
    <div class="what">
      <div class="label"></div>
      <div class="text" contenteditable="true">{{what}}</div>
    </div>
    <div class="why">
      <div class="label"></div>
      <div class="text" contenteditable="true">{{why}}</div>
    </div>
  </div>
</template>