<template name="yarnForm">
  <div class="top no-print">
    <a href="#" class="action home"></a> 
    <div class="title">
      {{#if hasTip}}
        <div class="tip">
          <div class="name">Yarn expert says:</div> {{tip.text}}
        </div>
      {{else}}
        <div class="one">Spin a</div>
        <div class="two">Yarn</div>
      {{/if}}
      <ul class="hotkeys {{osCls}}">
        <li yarn-hotkey-description="Create new yarn">c</li>
        <li yarn-hotkey-description="Select previous yarn">up</li>
        <li yarn-hotkey-description="Select next yarn">down</li>
        <li yarn-hotkey-description="Select autocomplete text">right</li>
        <li yarn-hotkey-description="Set color on selected yarn or filter by color if no yarn selected">1-4</li>
        <li yarn-hotkey-description="Clear color on selected yarn or clear color filter if no yarn selected">0</li>
        <li yarn-hotkey-description="Toggle note editor for selected yarn">n</li>
        <li yarn-hotkey-description="Save changes from input">enter</li>
        <li class="for-mac" yarn-hotkey-description="Move selected yarn up">⌘+up</li>
        <li class="not-for-mac" yarn-hotkey-description="Move selected yarn up">ctrl+up</li>
        <li class="for-mac" yarn-hotkey-description="Move selected yarn down">⌘+down</li>
        <li class="not-for-mac" yarn-hotkey-description="Move selected yarn down">ctrl+down</li>
        <li yarn-hotkey-description="Defocus input field">esc</li>
      </ul>
    </div>
    <form class="yarn-form">
      <div class="who">
        <div class="label"></div>
        <div class="field"><input type="text" /></div>
      </div>
      <div class="what">
        <div class="label"></div>
        <div class="field"><input type="text" /></div>
      </div>
      <div class="why">
        <div class="label"></div>
        <div class="field"><input type="text" /></div>
      </div>
    </form>
  </div>
  <hr/>
  {{> yield 'yarnList'}}
</template>