<template name="yarnForm">
  <a href="#" class="action home"></a> 
  <div class="top no-print">
    <div class="title">
      {{#if hasTip}}
        <div class="tip">
          <div class="name">Yarn expert says:</div> {{tip.text}}
        </div>
      {{else}}
        <div class="one">Spin a</div>
        <div class="two">Yarn</div>
      {{/if}}
      <ul class="hotkeys">
        <li title="Create new yarn">n</li>
        <li title="Select previous yarn">up</li>
        <li title="Select next yarn">down</li>
        <li title="Select autocomplete text">right</li>
        <li title="Save changes">enter</li>
        <li title="Move selected yarn up">⌘+up</li>
        <li title="Move selected yarn up">ctrl+up</li>
        <li title="Move selected yarn down">⌘+down</li>
        <li title="Move selected yarn down">ctrl+down</li>
        <li title="Defocus input field">esc</li>
      </ul>
    </div>
    <form class="yarn-form">
      <div class="who">
        <div class="label"></div>
        <div class="field"><input type="text" /></div>
      </div>
      <div class="what">
        <div class="label"></div>
        <div class="field"><input type="text" /></div>
      </div>
      <div class="why">
        <div class="label"></div>
        <div class="field"><input type="text" /></div>
      </div>
    </form>
  </div>
  <hr/>
  {{> yield 'yarnList'}}
</template>